<%= simple_form_for [@fund, @transaction], :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Transaction</legend>

    <%= f.input :amount %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', transactions_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
