<div class="funds-hdr">
  <h1><%= @fund.description %>
    <small> $<%= @fund.amount %></small>
  </h1>
</div>

<%= form_tag users_path, :method => 'get', :id => 'users_search', :class => "form-search" do %>
  <%= text_field_tag :users_search, params[:users_search], :name => "users_search", :class => "input-medium search-query sm-pad" %><%= submit_tag "Search", :name => nil %> <% end %>

<div id="users-main">
</div>

<div id="trans-main">
</div>

<%= link_to 'Add friend', new_fund_transaction_path(@fund) %>

<div class="form-actions">
  <%= link_to 'Back', funds_path, :class => 'btn'  %>
  <%= link_to 'Change Amount', edit_fund_path(@fund), :class => 'btn' %>
  <%= link_to 'Cancel', fund_path(@fund), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
